* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;

}

.container {
    width: 300px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Alata', sans-serif;
}

.city {
    width: 280px;
    height: 180px;
    background-color: lightgreen;
    margin: 15px 10px;
    position: relative;
}

img {
    width: 280px;
    height: 180px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}

.text {
    color: white;
    font-style: italic;
    font-size: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.overlay_back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
}
